<ion-menu contentId="main-content" side="end">
  <ion-header>
    <ion-toolbar>
      <ion-title color="dark">Settings</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-item-group>
      <ion-item>
        <ion-button id="open-modal" fill="clear"
          >Change Password / Email</ion-button
        >
      </ion-item>
    </ion-item-group>
    <ion-item-group class="ion-margin-top">
      <ion-item>
        <ion-button style="color: red" fill="clear">Sign out</ion-button>
      </ion-item>
    </ion-item-group>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button default-href="#" (click)="goBack()"></ion-back-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-card>
      <ion-grid>
        <ion-row class="ion-margin-top">
          <ion-col size="12">
            <div class="upload">
              <img
                src="https://ionicframework.com/docs/img/demos/avatar.svg"
                width="100"
                height="100"
              />
              <div class="round">
                <input type="file" />
                <ion-icon
                  style="
                    color: #fff;
                    width: 24px;
                    height: 24px;
                    margin-top: 3px;
                  "
                  name="camera-outline"
                ></ion-icon>
              </div>
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12" class="ion-text-center ion-margin-top">
            <ion-title>{{name}} {{surname}}</ion-title>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12" class="ion-text-center ion-margin-top">
            <ion-text>{{username}}</ion-text>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12" class="ion-text-center">
            <ion-text><h5>{{locationName}}</h5></ion-text>
            <ion-text><h5>{{email}}</h5></ion-text>
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-col size="10" class="ion-text-center">
            <ion-button expand="block" color="dark" class="ion-margin-bottom">
              Edit Profile
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
    <ion-modal #modal trigger="open-modal">
      <ng-template>
        <ion-content class="ion-text-center">
          <ion-text class="ion-text-center ion-padding"
            ><h4><b>Change your password and email:</b></h4></ion-text
          >
          <ion-input
            type="password"
            placeholder="Change Password"
            class="custom ion-text-center"
          ></ion-input
          ><br />
          <ion-input
            type="email"
            placeholder="Change Email"
            class="custom ion-text-center"
          ></ion-input>
          <ion-button
            style="width: 90%; margin-top: 20px"
            class="ion-margin-bottom"
            >Continuar</ion-button
          >
        </ion-content>
      </ng-template>
    </ion-modal>
  </ion-content>
</div>
