<ion-menu contentId="main-content" side="end">
  <ion-header>
    <ion-toolbar>
      <ion-title color="dark">Settings</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-item-group>
      <ion-item>
        <ion-label><a>Change Password</a></ion-label>
      </ion-item>
      <ion-item>
        <ion-label><a>Change Email</a></ion-label>
      </ion-item>
    </ion-item-group>
    <ion-item-group class="ion-margin-top">
      <ion-item>
        <ion-label><a href="#">Sign Out</a></ion-label>
      </ion-item>
    </ion-item-group>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button default-href="#" (click)="goBack()"></ion-back-button>
      </ion-buttons>
      <ion-title color="dark">André</ion-title>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-card>
      <ion-grid>
        <ion-row class="ion-margin-top">
          <ion-col size="12">
            <ion-avatar>
              <img
                alt="userphoto"
                src="https://ionicframework.com/docs/img/demos/avatar.svg"
              />
            </ion-avatar>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12" class="ion-text-center ion-margin-top">
            <ion-title>André Maia</ion-title>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12" class="ion-text-center">
            <ion-text><h5>Póvoa de Varzim</h5></ion-text>
            <ion-text><h5>andreaf@gmail.com</h5></ion-text>
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-col size="10" class="ion-text-center">
            <ion-button expand="block" color="dark" class="ion-margin-bottom">
              Show More
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </ion-content>
</div>
