<ion-card color="medium">
  <ion-item-sliding>
    <ion-item class="ion-no-padding" *ngFor="let event of events">
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <img
              alt="Silhouette of mountains"
              src={{event.image}}
              height="120px"
              style="border-radius: 4px"
            />
          </ion-col>
          <ion-col size="6">
            <b style="font-size: 1.1rem; color: var(--ion-color-dark)"
              >{{event.title}}</b
            >
            <ion-label class="ion-margin-bottom" style="margin-top: 10px">
              <p style="font-size: 0.85rem">{{getFormattedDate(event.startDate)}} | {{getFormattedDate(event.endDate)}}</p>
              <p style="font-size: 0.85rem">{{event.locationName}}</p>
            </ion-label>
            <ion-button fill="outline" expand="block" style="margin-top: 30px"
              >{{ "eventpage" | translate
              }}<ion-icon
                style="font-size: 15px"
                name="arrow-forward-outline"
              ></ion-icon
            ></ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item-options>
      <ion-item-option color="warning">{{
        "edit" | translate
      }}</ion-item-option>
      <ion-item-option color="danger">{{
        "delete" | translate
      }}</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
</ion-card>
