<ion-card color="medium" *ngFor="let event of events">
  <ion-item-sliding>
    <ion-item class="ion-no-padding" >
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <img
              alt="Silhouette of mountains"
              src={{event.image}}
              height="143px"
              style="border-radius: 4px"
              object-fit="cover"
            />
          </ion-col>
          <ion-col size="6">
            <b style="font-size: 1.1rem; color: var(--ion-color-dark)"
              >{{event.title}}</b
            >
            <ion-label class="ion-margin-bottom" style="margin-top: 10px">
              <p style="font-size: 0.85rem"><ion-icon class="calendarsize" name="calendar-outline"></ion-icon> &nbsp;{{getFormattedDate(event.startDate)}} | {{getFormattedDate(event.endDate)}}</p>
              <p style="font-size: 0.85rem"><ion-icon class="calendarsize" name="stopwatch-outline"></ion-icon>&nbsp; 10:00 h</p>
              <p style="font-size: 0.85rem"> <ion-icon class="calendarsize" name="location-outline"></ion-icon>  &nbsp;{{event.locationName}}</p>
            </ion-label>
            <ion-button fill="outline" expand="block" style="margin-top: 30px"
              >{{ "eventpage" | translate
              }}<ion-icon
                style="font-size: 15px"
                name="arrow-forward-outline"
              ></ion-icon
            ></ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item-options>
      <ion-item-option color="warning">{{
        "edit" | translate
      }}</ion-item-option>
      <ion-item-option color="danger">{{
        "delete" | translate
      }}</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
</ion-card>
