<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-searchbar
      class="ion-margin-top"
      show-cancel-button="focus"
      placeholder="search"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="4" *ngFor="let event of events">
        <ion-thumbnail>
          <img src= {{event.image}} 
          style="
          border-radius: 10px;
          "/>
        </ion-thumbnail>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
