<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-searchbar
      class="ion-margin-top"
      show-cancel-button="focus"
      placeholder="search"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <ion-thumbnail>
          <img
            alt="Silhouette of mountains"
            src="https://ionicframework.com/docs/img/demos/thumbnail.svg"
          />
        </ion-thumbnail>
      </ion-col>
      <ion-col size="4">
        <ion-thumbnail>
          <img
            alt="Silhouette of mountains"
            src="https://ionicframework.com/docs/img/demos/thumbnail.svg"
          />
        </ion-thumbnail>
      </ion-col>
      <ion-col size="4">
        <ion-thumbnail>
          <img
            alt="Silhouette of mountains"
            src="https://ionicframework.com/docs/img/demos/thumbnail.svg"
          />
        </ion-thumbnail>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">
        <ion-thumbnail>
          <img
            alt="Silhouette of mountains"
            src="https://ionicframework.com/docs/img/demos/thumbnail.svg"
          />
        </ion-thumbnail>
      </ion-col>
      <ion-col size="4">
        <ion-thumbnail>
          <img
            alt="Silhouette of mountains"
            src="https://ionicframework.com/docs/img/demos/thumbnail.svg"
          />
        </ion-thumbnail>
      </ion-col>
      <ion-col size="4">
        <ion-thumbnail>
          <img
            alt="Silhouette of mountains"
            src="https://ionicframework.com/docs/img/demos/thumbnail.svg"
          />
        </ion-thumbnail>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">
        <ion-thumbnail>
          <img
            alt="Silhouette of mountains"
            src="https://ionicframework.com/docs/img/demos/thumbnail.svg"
          />
        </ion-thumbnail>
      </ion-col>
      <ion-col size="4">
        <ion-thumbnail>
          <img
            alt="Silhouette of mountains"
            src="https://ionicframework.com/docs/img/demos/thumbnail.svg"
          />
        </ion-thumbnail>
      </ion-col>
      <ion-col size="4">
        <ion-thumbnail>
          <img
            alt="Silhouette of mountains"
            src="https://ionicframework.com/docs/img/demos/thumbnail.svg"
          />
        </ion-thumbnail>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">
        <ion-thumbnail>
          <img
            alt="Silhouette of mountains"
            src="https://ionicframework.com/docs/img/demos/thumbnail.svg"
          />
        </ion-thumbnail>
      </ion-col>
      <ion-col size="4">
        <ion-thumbnail>
          <img
            alt="Silhouette of mountains"
            src="https://ionicframework.com/docs/img/demos/thumbnail.svg"
          />
        </ion-thumbnail>
      </ion-col>
      <ion-col size="4">
        <ion-thumbnail>
          <img
            alt="Silhouette of mountains"
            src="https://ionicframework.com/docs/img/demos/thumbnail.svg"
          />
        </ion-thumbnail>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">
        <ion-thumbnail>
          <img
            alt="Silhouette of mountains"
            src="https://ionicframework.com/docs/img/demos/thumbnail.svg"
          />
        </ion-thumbnail>
      </ion-col>
      <ion-col size="4">
        <ion-thumbnail>
          <img
            alt="Silhouette of mountains"
            src="https://ionicframework.com/docs/img/demos/thumbnail.svg"
          />
        </ion-thumbnail>
      </ion-col>
      <ion-col size="4">
        <ion-thumbnail>
          <img
            alt="Silhouette of mountains"
            src="https://ionicframework.com/docs/img/demos/thumbnail.svg"
          />
        </ion-thumbnail>
      </ion-col> </ion-row
    ><ion-row>
      <ion-col size="4">
        <ion-thumbnail>
          <img
            alt="Silhouette of mountains"
            src="https://ionicframework.com/docs/img/demos/thumbnail.svg"
          />
        </ion-thumbnail>
      </ion-col>
      <ion-col size="4">
        <ion-thumbnail>
          <img
            alt="Silhouette of mountains"
            src="https://ionicframework.com/docs/img/demos/thumbnail.svg"
          />
        </ion-thumbnail>
      </ion-col>
      <ion-col size="4">
        <ion-thumbnail>
          <img
            alt="Silhouette of mountains"
            src="https://ionicframework.com/docs/img/demos/thumbnail.svg"
          />
        </ion-thumbnail>
      </ion-col> </ion-row
    ><ion-row>
      <ion-col size="4">
        <ion-thumbnail>
          <img
            alt="Silhouette of mountains"
            src="https://ionicframework.com/docs/img/demos/thumbnail.svg"
          />
        </ion-thumbnail>
      </ion-col>
      <ion-col size="4">
        <ion-thumbnail>
          <img
            alt="Silhouette of mountains"
            src="https://ionicframework.com/docs/img/demos/thumbnail.svg"
          />
        </ion-thumbnail>
      </ion-col>
      <ion-col size="4">
        <ion-thumbnail>
          <img
            alt="Silhouette of mountains"
            src="https://ionicframework.com/docs/img/demos/thumbnail.svg"
          />
        </ion-thumbnail>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- <h3>{{"category" | translate}}</h3>
  <div class="category">
    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let category of eventCategory">
          <ion-item>
            <ion-checkbox
              [ngClass]="{ 'checked': category.selected, 'unchecked': !category.selected }"
              (ionChange)="checkboxClicked(category)"
            ></ion-checkbox>
            <ion-label>{{ category.name }}</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <h3>{{"date" | translate}}</h3>
  <ion-list>
    <ion-item>
      <ion-select placeholder="Today" value="today" [multiple]="true">
        <ion-select-option value="apples">Apples</ion-select-option>
        <ion-select-option value="oranges">Oranges</ion-select-option>
        <ion-select-option value="bananas">Bananas</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <h3>{{"location" | translate}}</h3>
  <ion-list>
    <ion-item>
      <ion-select placeholder="Localization" [multiple]="true">
        <ion-select-option value="apples">Apples</ion-select-option>
        <ion-select-option value="oranges">Oranges</ion-select-option>
        <ion-select-option value="bananas">Bananas</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list> 

  <ion-button href="#" color="dark">{{"search" | translate}}</ion-button>-->
</ion-content>
