<ion-grid>
  <ion-row size="12">
    <ion-col size="2">
      <ion-avatar>
        <img
          alt="Silhouette of a person's head"
          src="https://ionicframework.com/docs/img/demos/avatar.svg"
        />
      </ion-avatar>
    </ion-col>
    <ion-col size="6" class="ion-margin-top">
      <ion-text>André Maia</ion-text>
    </ion-col>
    <ion-col size="2" class="ion-text-right">
      <ion-button fill="clear" color="dark" (click)="onClick()">
        <ion-icon
          [name]="favorite ? 'heart' : 'heart-outline'"
          [ngClass]="{ favorite: favorite }"
        ></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="2" class="ion-text-center">
      <ion-button fill="clear" color="dark">
        <ion-icon name="chatbox-outline"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row size="12">
    <ion-col size="12">
      <ion-text><b>Aguça Noite Louca</b></ion-text>
    </ion-col>
  </ion-row>
  <ion-img
    class="borderimage"
    src="https://docs-demo.ionic.io/assets/madison.jpg"
  ></ion-img>
  <ion-row size="12">
    <ion-col size="6"> Aguçadoura, Póvoa de Varzim </ion-col>
    <ion-col size="6" class="ion-text-end">23:30 | 19-23 Jan</ion-col>
  </ion-row>
  <ion-row size="12" class="ion-text-start">
    <ion-col size="12"><b>Descrição:</b></ion-col>
    <ion-col size="12"
      ><ion-text class="ion-text-center"
        >Lorem ipsum is simplky dummt text of the printing and typesetting
        indystrus.</ion-text
      ></ion-col
    >
  </ion-row>
</ion-grid>

<ion-item-divider class="ion-margin-top"> </ion-item-divider>
