.logo-login {
  width: 90px;
  height: 90px;
  margin: auto;
  margin-top: 10rem;
}

.form-login {
  margin-top: 5rem;
}

.login-btns {
  margin-top: 15rem;
}

ion-content::-webkit-scrollbar {
  display: none !important;
}

.login-btns-text {
  font-weight: bold;
}
