content{
  height: 100%;
  width: 100%;
  margin: 0;
}
@media only screen and (max-width: 500px) {
  .logo-login {
    position: relative;
    width: 90px;
    height: 90px;
    margin: auto;
    margin-top: 7rem;
  }
  
  .form-login {
    margin-top: 5rem;

  }
  
  .login-btns {
    margin-top: 10rem;
  }
  
}
@media only screen and (max-width: 400px) {
  .logo-login {
    position: relative;
    width: 90px;
    height: 90px;
    margin: auto;
    margin-top: 5rem;
  }
  
  .form-login {
    margin-top: 3rem;

  }
  
  .login-btns {
    margin-top: 10rem;
  }
  
}

@media only screen and (max-width: 350px) {
  .logo-login {
    position: relative;
    width: 90px;
    height: 90px;
    margin: auto;
    margin-top: 2rem;
  }
  
  .form-login {
    margin-top: 1rem;

  }
  
  .login-btns {
    margin-top: 5rem;
  }
  
}


.ion-content::-webkit-scrollbar {
  display: none !important;
}

.login-btns-text {
  font-weight: bold;
}
