

.error404{
    width: 120px;
    font-size: 70px;
    font-weight: bold;
    color: #000;
    margin-top: 50px;
    margin-left: 50px;
}
.img{
    width: 100%;

}
.image404{
    width: 300px;
    height: 300px;
    margin-top: 5%;
    margin-left:10%;


}

.PageNotFound{
    width: 250px;
    font-size: 30px;
    font-weight: bold;
    color: #000;
    margin-left: 50px;
}
.text-404{
    width: 300px;
    font-size: 15px;
    font-weight: bold;
    color: #000;
    margin-left: 50px;
    margin-top: 10px;
}
ion-button{
  
    width: 80%;
    margin-left: 10%;
    margin-top: 30px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
}

