<ion-content class="bg-image-welcome no-scroll" [fullscreen]="true">
  <ion-card-header class="title-welcome">
    <ion-card-title class="welcome-title">BEM VINDO,</ion-card-title>
  </ion-card-header>

  <ion-card-content class="subtitle-welcome">
    Compartilha os melhores eventos com as pessoas!
  </ion-card-content>

  <ion-row size="10" class="ion-justify-content-center btns-welcome">
    <ion-col size="10">
      <ion-button expand="block" color="dark" routerLink="/login">Login</ion-button>
      <ion-button expand="block" color="dark" fill="outline" routerLink="/register"
        >Sign Up</ion-button
      >
    </ion-col>
  </ion-row>
</ion-content>
