ion-slides {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 3px solid var(--ion-color-light);
  margin-top: -30px;
}

ion-row.category {
  ion-avatar {
    height: 50px;
    width: 50px;
  }
}

.category-name {
  position: absolute;
  margin-top: 80px;
}

ion-avatar {
  border-radius: 50%;
}
