<ion-card *ngFor="let event of events" class="event-card">
  <img alt="Silhouette of mountains" src={{event.image}} />
  <ion-card-header>
    <ion-card-title>{{event.title}}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-row size="12">
      <ion-col size="1">
        <ion-icon name="calendar-outline" class="calendarsize"></ion-icon>
      </ion-col>
      <ion-col size="11"><ion-text>{{ getFormattedDate(event.startDate) }} | <span>{{ getFormattedDate(event.endDate) }}</span></ion-text></ion-col>
    </ion-row>
    <ion-row size="12">
      <ion-col size="1"><ion-icon class="calendarsize" name="location-outline"></ion-icon></ion-col>
      <ion-col size="11">{{event.locationName}}</ion-col>
    </ion-row>
    <ion-row size="12">
      <ion-col size="12">
        <ion-chip [outline]="true">{{event.categoryName}}</ion-chip>
      </ion-col>
    </ion-row>
    <ion-row size="12">
      <ion-col size="6">
        <ion-button color="primary" fill="outline" expand="block" (click)="goForward()">{{ "moreinfo" | translate
          }}<ion-icon slot="end" name="arrow-forward-outline"></ion-icon></ion-button>
      </ion-col>
      <ion-col size="6" class="ion-text-end">
        <ion-button fill="clear" color="dark" (click)="presentToast()">
          <ion-icon class="heartfavoritesize" [ngClass]="{ favorite: favorite }"
            [name]="favorite ? 'heart' : 'heart-outline'"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>