<app-toolbar></app-toolbar>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6" class="ion-text-start">
        <ion-button fill="clear" color="dark" (click)="goBack()"
          ><ion-icon class="backicon" name="chevron-back-outline"></ion-icon
        ></ion-button>
      </ion-col>
      <ion-col size="6" class="ion-text-end">
        <ion-button fill="clear" color="dark" (click)="presentToast()">
          <ion-icon
            class="heartfavoritesize"
            [ngClass]="{ favorite: favorite }"
            [name]="favorite ? 'heart' : 'heart-outline'"
          ></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card-title> {{event.title}} </ion-card-title>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <img
          class="imagevent"
          src={{event.image}}
        />
      </ion-col>
    </ion-row>
    <ion-row size="12" class="ion-margin-start">
      <ion-col size="1">
        <ion-icon name="calendar-outline" class="calendarsize"></ion-icon>
      </ion-col>
      <ion-col size="11"><ion-text>{{ getFormattedDate(event.startDate) }} - {{ getFormattedDate(event.endDate) }}</ion-text></ion-col>
    </ion-row>
    <ion-row size="12" class="ion-margin-start">
      <ion-col size="1"
        ><ion-icon class="calendarsize" name="location-outline"></ion-icon
      ></ion-col>
      <ion-col size="11">{{event.locationName}}</ion-col>
    </ion-row>
    <ion-row size="12" class="ion-margin-start">
      <ion-col size="12"
        ><ion-chip [outline]="true">{{event.categoryName}}</ion-chip></ion-col
      >
    </ion-row>
    <ion-row class="ion-margin-start">
      <ion-col size="12"
        ><ion-text
          ><h5><b>{{ "description" | translate }}</b></h5></ion-text
        ></ion-col
      >
    </ion-row>
    <ion-row class="ion-margin-start">
      <ion-col size="12"
        >{{event.description}}</ion-col
      >
    </ion-row>
    <ion-item-divider class="ion-margin-top"></ion-item-divider>
    <ion-row class="ion-margin-top">
      <ion-col size="2">
        <ion-avatar>
          <img src={{profilePicture}} />
        </ion-avatar>
      </ion-col>
      <ion-col size="10" class="ion-align-items-start">
        <ion-item>
          <ion-input placeholder="Deixe o seu comentário" [(ngModel)]="commentInput" name="comment"></ion-input>
          <ion-button slot="end" fill="clear" color="primary" (click)="createEventComment()">
            <ion-icon name="send-outline"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="ion-margin-top" >
      <ion-col><b> {{totalComments}} Comments</b></ion-col>
    </ion-row>
    <ion-item-divider></ion-item-divider>
    <ion-list *ngFor="let comment of comments">
      <ion-row class="ion-margin-top" >
        <ion-col size="2">
          <ion-avatar>
            <img src={{comment.user.profilePicture}} />
          </ion-avatar>
        </ion-col>
        <ion-col size="10" class="ion-align-items-start">
          <h5><b>{{ comment.user.name }} {{ comment.user.surname }}</b></h5>
          <ion-text>
            {{ comment.comment }}
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-list>
  </ion-grid>
</ion-content>
