.logoeventus {
  width: 20px;
  margin-left: 1rem;
}

.usericon {
  font-size: 2em;
}

.languagesflag {
  width: 20px;
  margin-right: 1rem;
}

.logoutcolor {
  color: red;
}

.heartfavoritesize {
  font-size: 30px;
}

.favorite {
  color: red;
}

.imagevent {
  border-radius: 10px;
}
