.logo-register {
  width: 90px;
  height: 90px;
  margin: auto;
  margin-top: 5rem;
}

.register-login {
  margin-top: 5rem;
}

.register-btns-text {
  font-weight: bold;
}

ion-content::-webkit-scrollbar {
  display: none !important;
}

.register-btns {
  margin-top: 5rem;
}
