<ion-toolbar color="dark">
  <ion-buttons>
    <ion-button href="#">
      <ion-img
        slot="start"
        class="logoeventus"
        src="../../assets/LogoEventus.svg"
      ></ion-img>
    </ion-button>
  </ion-buttons>
  <ion-button slot="end" fill="clear" color="light" id="popover-button"
    ><ion-icon class="usericon" name="person-circle-outline"></ion-icon>
  </ion-button>
  <ion-popover trigger="popover-button" [dismissOnSelect]="true">
    <ng-template>
      <ion-content>
        <ion-list>
          <ion-item
            class="logoutcolor"
            [button]="true"
            [detail]="false"
            (click)="logout()"
          >
            <ion-icon name="exit-outline"></ion-icon>{{ "logout" | translate }}
          </ion-item>
          <ion-item [button]="true" id="nested-trigger"
            ><ion-icon name="globe-outline"></ion-icon
            >{{ "language" | translate }}</ion-item
          >
          <ion-popover
            trigger="nested-trigger"
            [dismissOnSelect]="true"
            side="end"
          >
            <ng-template>
              <ion-content>
                <ion-list>
                  <ion-item
                    (click)="changeLanguage('pt')"
                    [button]="true"
                    [detail]="false"
                    ><ion-img
                      src="../../assets/portugal-flag-round-circle-icon.svg"
                      class="languagesflag"
                    ></ion-img
                    >{{ "Portugese" | translate }}</ion-item
                  >
                </ion-list>
              </ion-content>
              <ion-content>
                <ion-list>
                  <ion-item
                    (click)="changeLanguage('en')"
                    [button]="true"
                    [detail]="false"
                    ><ion-img
                      src="../../assets/uk-flag-round-circle-icon.svg"
                      class="languagesflag"
                    ></ion-img
                    >{{ "English" | translate }}</ion-item
                  >
                </ion-list>
              </ion-content>
            </ng-template>
          </ion-popover>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-popover>
</ion-toolbar>
